*{
	margin: 0;
	padding: 0;

}
div.container{
	border:3px solid black;
	border-radius: 10px;
	position: absolute;
	padding: 30px 15px 30px 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background:linear-gradient(90deg,crimson,blue,blue,blue,crimson);
}
input.textview{
	font-size: 20px;
	width: 195px;
	border-radius: 5px;
	margin-left: 10px;
	border-color: black;
	box-shadow: inset -1.5px -1.5px 3px 1px black;
}
input[type="button"]{
	width: 40px;
	height: 40px;
	line-height: 10px;
	padding: 15px;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 20px;
	box-shadow: inset -.5px -.5px 5px 1px black;
}
input[value="="]{
	width: 95px;
}